@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  position: fixed;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.h-screen {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.penis {
  --size: 80px;
  position: absolute;
  height: var(--size);
  width: var(--size);
  aspect-ratio: 1;
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 0;
}

.penis_animated {
  animation: falling ease-in-out 4s;
}

@keyframes falling {
  0% {
    transform: translate(
        calc(50vw - var(--size) / 2),
        calc(50 * var(--vh) - var(--size) / 2)
      )
      rotate(calc(0deg * var(--direction)));
    opacity: 1;
  }

  50% {
    transform: translate(
        calc(var(--x) * 1vw - var(--size) / 2),
        calc(var(--y) * var(--vh) - var(--size) / 2)
      )
      rotate(calc(720deg * var(--direction)));
    opacity: 1;
  }

  100% {
    transform: translate(
        calc(50vw - var(--size) / 2),
        calc(50 * var(--vh) - var(--size) / 2)
      )
      rotate(calc(0deg * var(--direction)));
    opacity: 0;
  }
}
